<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="text-center">
    <img alt="Terra Machina" src="assets/vc-logo.png" class="img-fluid" />
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">About</h3>
          </div>
          <div class="card-body">
            <div>
              In a city where the institutions have failed the average person, criminal organizations have risen, and corruption runs deep.  As an extraordinary individual, will you become a part of the rot that plagues the city, or will you stop it?
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-body">
            <div>
              Vigilant City is a tabletop roleplaying game where the players play as a hero or villain in a city where vigilantism runs rampant.
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-body text-center">
            <a class="btn btn-outline-primary" href="../../../assets/Vigilant-City-Core-Rulebook.pdf" target="_blank">Rulebook</a>
            |
            <a class="btn btn-outline-primary" href="../../../assets/Vigilant-City-Character-Sheet.pdf" target="_blank">Character Sheet</a>
          </div>
          <!-- /.card-footer-->
        </div>
      </div>
    </div>
  </div>

  <!-- /.card -->
</section>
<!-- /.content -->
