<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Resources</h1>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>


<section class="content" *ngFor="let section of sections">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h2 class="m-0 text-dark">{{section.name}}</h2>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <div class="row">
    <div class="col-md-4 my-3" *ngFor="let download of section.downloads">
      <div class="card border-dark">
        <div class="card-title px-3 bg-violet text-light">
          <h2><fa-icon [icon]="download.icon"></fa-icon> {{ download.name }}</h2>
        </div>
        <div class="card-body">
          <p>
            {{ download.description }}
          </p>
        </div>
        <div class="card-footer">
          <a
            [href]="'../../../assets/' + (download.file ?? download.name) + '.pdf'"
            target="_blank"
            class="btn"
            >Download <fa-icon [icon]="faArrowCircleDown"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
